.save-button {
    margin-left: 10px;
    background: #34eb3d;
    border-color: white;
    color: white;
}

.save-button:hover {
    background: white;
    border-color: #34eb3d !important;
    color: #34eb3d !important;
}

.edit-button {
    background: #3459eb;
    border-color: white;
    color: white;
}

.edit-button:hover {
    background: white;
    border-color: #3459eb !important;
    color: #3459eb !important;
}

.add-button {
    position: relative !important;
    height: 6vh !important;
    width: 6vh !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.add-button:hover {
    width: 10vw !important;
    border-radius: 3vh !important;
}

.add-button::after {
    content: '+' !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out !important;
}

.add-button:hover::after {
    content: 'Add' !important;
    opacity: 1 !important;
}
